header h1{
border-bottom:solid 2px black;
}

main{
margin:auto;
text-align:center;
display:table;

}

#tabla{
display:table-row
}

#indx{
width:20%;
text-align:end;
position:fixed;
margin-top:50px;
}
#leftTabla{
width:20%;
display:table-cell;
}
#who{
}
#rightTabla{
width:20%;
display:table-cell;
border-left:solid orange 3px;
margin:10px;
}
.imagen img{width:100%;
	height:100%;
	margin:5px;
	border:10px solid white;
	opacity:0.6;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
}
.imagen img:hover{
	border:10px solid gray;
	opacity:1;
	
}
#contenedor{
}
#centerTabla{
	width:60%;
	display:table-cell;
	padding:40px;
	height:auto;
	text-align:justify;
}

footer{
text-align:center;
	margin:auto;
}
